html, body{
    margin: 0px;
    background-image: url('images/puppy.jpg');
}
header{
    color: rgb(236, 10, 187);
    width: 98%;
    height: 200px;
    margin: 1%;
}
header h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 60px;
    font-size: 50px;
}
.wrapper{
    width: 98%;
    height: 400px;
    margin: 1%;
}
.wrapper .page{
    width: 18.6%;
    height: 180px;
    display: inline-block;
    margin: 0.45%;
}
footer {
    background-color: #c0982b;
    color: #fff;
    width: 98%;
    height: 60px;
    margin: 1%;
}
footer p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}
.image_link {
    height: 180px;
    width: 18.5vw;
    margin: 1% 0 1% 1%;
}
.image_link:hover {
    filter: grayscale(70%);
}