html{
    background-image: url('autopia.jpg');
}
body{
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    }
form{
    margin: auto;
    height: 200px;
    width: 350px;
    justify-content: center;
}
.results{
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: rgb(196, 15, 15);
}
input{
    background-color: aliceblue;
    text-align: justify;
    margin: 100px 10px 10px 10px;
    height: 35px;
    width: 250px;
}
button{
    background-color: rgb(134, 184, 167);
}
button:hover{
    background-color: brown;
}
