<span class="d.text">
    <p>
    Next, we need to make a new HTML file for our dummy content. Click on the file menu and choose 
    New File and then Save As, choose the layouts folder, then name the file dummy_content.html and hit save. 
    Visit lpsum.com or a similar website and copy a few paragraphs of text and paste it into your newly created 
    dummy_content.html file, add paragraph tags <p> and </p> around each title and paragraph of the text, and save it. Top class!
    </p>
    <p>
    It is a long-established fact that a reader will be distracted by the readable content of a page when looking
     at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution 
     of letters, as opposed to using 'Content here, content here', making it look like readable English. 
     Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, 
     and a search for 'lorem ipsum' will uncover many websites still in their infancy. Various versions have evolved over the years.
    </p>
    <p>Lorem Ipsum is essentially   the same as Lorem Ipsum, except that it uses 'Content here, content here, content here, content here, 
    content here, content here, content here, content here, content here, content here.
    Lorem Ipsum has been removed when   <i>some</i> in a normal distribution of letters. 
    It has survived not only five centuries, but also the leap into electronic context, it will not be distribution.
    The point of using Lorem Ipsum is that it has survived not only five centuries, but also the leap into electronic context, it will not be distribution.</p>
    <p>Lorem Ipsum has been removed when <i>some</i> in a normal distribution of letters. 
    It has survived not only five centuries. What is Lorem Ipsum? Lorem Ipsum is simply dummy text for the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled
     it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially 
     unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
     publishing software like 
     Aldus PageMaker including versions of 
     Lorem Ipsum.</p>
</span>