<span id="hamburger">
    <button id="menu_icon"><img src="images/menu.png" alt="menuicon"/></button>
    <button id="close_icon"><img src="images/menu_x.png" alt="closeicon" /></button>
</span>
<ul class="menu">
    <li><a class="menu-item" href="index.html">Home</a></li>
    <li><a class="menu-item" href="about.html">About Us</a></li>
    <li><a class="menu-item" href="tutorials.html">Tutorials</a></li>
    <li><a class="menu-item" href="faq.html">FAQ's</a></li>
    <li><a class="menu-item" href="freebies.html">Freebies</a></li>
    <li><a class="menu-item" href="books.html">Books</a></li>
</ul>